<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/nlog-internal.log">

    <!-- define various log targets -->
    <targets>
        <!-- Write to file -->
        <target xsi:type="File"
                name="file"
                fileName="${specialfolder:folder=MyDocuments}/EnaTsApp/logs/enatsapp-${shortdate}.log"
                archiveFileName="${specialfolder:folder=MyDocuments}/EnaTsApp/logs/enatsapp-${shortdate}.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="30"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

        <!-- Write to console -->
        <target xsi:type="Console"
                name="console"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <!-- Add your logging rules here -->
        <logger name="*" minlevel="Info" writeTo="file,console" />
    </rules>
</nlog>
